page-home {
    a{
        text-decoration: none;
    }
    .author{
        color: red;
        font-weight: bold;
    }
  
    .alert-radio-label {
        text-transform: capitalize;
    } 
}
.alert-radio-label,.select-text {
    text-transform: capitalize;
} 



